@use 'base/variables' as v;
@use 'base/mixins' as m;

.descarga {
    width: min(100%, 160rem);
    margin: 0 auto;
    padding: 4rem;
    margin-top: 5rem;

    background-color: v.$grisClaro;

    &__grid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;

        @include m.tablet {
            @include m.grid(2, 0);
            justify-items: center;
        }
    }

    &__store {
        text-align: center;
        color: v.$secundario;
        order: -1;

        @include m.tablet {
            order: 2;
        }
    }

    &__heading {
        margin: 0 0 1rem 0;
    }

    &__foto {
        width: 25rem;
        height: 50rem;

        transition: transform 300ms ease-in;

        &:hover {
            transform: rotate(-4deg) scale(1.1);
        }
    }
    
    &__app {
        width: 15rem;
        display: inline;
        height: auto;
        
        transition: transform 300ms ease-in;
    
        &:hover {
            transform: scale(1.1);
        }

        @include m.tablet {
            width: 25rem;
        }
    }
}