@use 'variables' as v; 

.text-center {
    text-align: center;
}

.bg-primario {
    background-color: v.$primario;
}

.btn {
    display: inline-block;
    background-color: v.$primario;
    color: v.$blanco;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-weight: 700;
    transition: background-color 300ms ease-in;

    &:hover {
        background-color: darken(v.$primario, 20%);
    }
}