@use 'base/variables' as v;
@use 'base/mixins' as m;

.restaurantes {
    width: min(100%, 160rem);
    margin: 0 auto;

    background-color: v.$grisClaro;

    &__heading {
        margin: 5rem 0 0 0;
        padding-top: 5rem;
        text-align: center;
        color: v.$secundario;
    }

    &__grid {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 4rem 0;
        
        @include m.tablet {
            @include m.grid(2, 2rem)
        }
    }
}

.restaurante {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    background-color: v.$blanco;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
    
    @include m.tablet {
        flex-direction: row;
        text-align: left;
        padding: 4rem;
    }

    &__foto {
        width: auto;
        min-width: 10rem;
    }

    &__estrellas {
        height: 2rem;
        width: auto;
        margin: 0 auto;
        
        @include m.tablet {
            margin: 0;
        }
    }

    &__heading {
        color: v.$primario;
        margin: 1rem 0;
    }

    &__texto {
        font-size: 1.6rem;
        color: v.$secundario;
        line-height: 2;
    }
}