@use 'base/variables' as v;
@use 'base/mixins' as m;

.hero {
    @include m.tablet {
        @include m.grid(2, 2rem);
        align-items: center;
    }

    &__titulo {
        color: v.$blanco;
        text-align: center;
    }

    &__form {
        background-color: v.$primario;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 45rem;
    }
}

.form {
    width: 100%;

    &__label {
        text-transform: uppercase;
        color: v.$blanco;
    }

    &__input { 
        display: block;
        width: 100%;
        padding: 1rem 2rem;
        margin: 1rem 0 2rem 0;
        
        &--submit {
            @include m.boton(v.$negro, v.$blanco);
            width: 100% !important;
        }
    }
}