@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer {
    width: min(100%, 160rem);
    margin: 0 auto;
    padding: 5rem 0;
    color: v.$blanco;
    
    background-color: v.$secundario;
    
    &__grid {
        display: flex;
        flex-direction: column;
        
        @include m.tablet {
            @include m.grid(3, 2rem);
        }
    }
    
    &__heading {
        margin: 0 0 1rem 0;
    }
    
    &__texto,
    &__enlace {
        color: v.$blanco;
        line-height: 2;
        font-size: 1.6rem;
    }
    
    &__nav {
        color: v.$blanco;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.copyright {
    width: min(100%, 160rem);
    margin: 0 auto;
    padding: 0.5rem 0;
    background-color: v.$primario;

    &__texto {
        text-align: center;
        color: v.$blanco;
        font-size: 1.4rem;
    }
}